@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2 class="text-center"> <i class="glyphicon glyphicon-certificate"></i> MAGNIFINANACE ASSIGNEMENT</h2>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2">
        <p><a href="/Course/" class="btn btn-primary btn-lg"> <i class="glyphicon glyphicon-book"></i> Courses</a></p>
    </div>

    <div class="col-md-2">
        <p><a href="/Grade/" class="btn btn-warning btn-lg"><i class="glyphicon glyphicon-star"></i> Grades</a></p>
    </div>

    <div class="col-md-2">
        <p><a href="/Subject/" class="btn btn-danger btn-lg"><i class="glyphicon glyphicon-book"></i> Subjects</a></p>
    </div>

    <div class="col-md-2">
        <p><a href="/Teacher/" class="btn btn-success btn-lg"><i class="glyphicon glyphicon-user"></i> Teachers</a></p>
    </div>

    <div class="col-md-2">
        <p><a href="/Student/" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-user"></i> Students</a></p>
    </div>

</div>

<hr />

<div class="row" style="margin-top:1em">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <p><a href="/SubjectByCourse/" class="btn btn-success btn-lg"> <i class="glyphicon glyphicon-list"></i> Subjects by Course</a></p>
    </div>

    <div class="col-md-4">
        <p><a href="/StudentGrade/" class="btn btn-warning btn-lg"> <i class="glyphicon glyphicon-star"></i> Student Grades</a></p>
    </div>

</div>